/*Default*/
html,body{width:100%;height:100%}
body{margin:0;padding:0;font-family: 'Lato', sans-serif;font-size:14px;color:#666;border-collapse:collapse;border:0;}
td{margin:0;padding:0;border-collapse:collapse;border:0}
table{border-collapse:collapse;border:solid 0px}
img,form{margin:0;padding:0;border:0}
label{cursor:pointer}

h1,h2,h3,h4{color:#2c3344;font-weight:normal;margin:0 0 10px 0;padding:0}
h1{font-size:40px; text-align: center}
h2{font-size:35px}
h3{font-size:20px}
h4{font-size:16px;font-weight:bold}

a,a:visited{text-decoration:underline;font-size:14px; color:#fff;}
a:hover{text-decoration:none;color: #77c723;}


/*This site*/
.container{ max-width:1200px; margin:auto;} 
.search input {
    width: 200px;
    margin-left: 23px;
    margin-top: 15px;
    height: 44px;
    display: block;
    padding: 0 10px;
    box-shadow: inset 1px 1px 3px #b7b7b7;
    border-radius: 22px;
    background-image: url(../images/lupa.png);
    background-position: 185px center;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
}
.sMenu li a {
    color: #f57365;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.7px;	
    text-decoration: none;
    white-space: nowrap;
}
.sMenu {
    margin-left: 26px;
    margin-top: 11px;
}
.sMenu li {
    display: block;
    margin-right: 42px;
}
.phone {
    margin-top: 24px;
    margin-left: 26px;
}
.phone a.tel {
    width: 156px;
    height: 17px;
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;	
    text-decoration: none;
}
.flex {
    display: flex;
}
.header {
    padding-top: 10px;
    background: #fff; 
    background-image:url('../images/headfon.jpg'); 
    background-position:center top; 
    background-repeat:repeat-x;
}
#featured {
    text-align: center;
    position: relative;    
}
.slider {
    max-width: 1600px;   
    min-width: 1200px;
    height: 675px;
    position: relative; 
    margin: auto;   
}
.left{
    position: absolute;
    left:50px;
    top:45%;
    cursor: pointer;    
}
.right{
    position: absolute;
    right:50px;
    top:45%;
    cursor: pointer;  
}
.vashi {
    opacity: 0.7;
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.8px;
    padding-top: 190px;
    font-style: italic;
}
.recept {
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 5px;
    margin-top: 45px;  
}
.uznat {
    width: 273px;
    height: 63px;
    border: 3px solid #ffffff;
    margin: auto;
    margin-top: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uznat:hover {
    cursor: pointer;
    opacity: 0.9;
}
.uznat--vnutr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.18px;
    letter-spacing: 0.7px;
}
.inslide {
   position: absolute;
   left: 0;  
   top:0; 
   z-index: -1;
}
.vi {
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}
.vi a {
    font-weight: bold; 
}  
.bread {
    color: #f57365;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.8px; 
    margin-top: 46px;
    margin-bottom: 50px;
}
.bread span {
    color: #000000;
    letter-spacing: 0.8px;   
}
.zag {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.9px;   
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: bottom center; 
    padding-top: 10px;
    margin-bottom: 18px;
}
.text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.8px; 
}
.block {
    display: flex;
    justify-content: space-around;    
}
.block-in {
    width: 30%;
    text-align: center;  
}
.zag-bez {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.9px;   
    padding-top: 10px;
    margin-bottom: 18px;
}
.zag-with {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.9px;   
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: bottom left; 
    padding-top: 10px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.spisok {
    display: flex;
    margin-top: 79px;   
}
.menu li a {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
}
.menu li a:hover {
    color: #f57365;
}
.menu li {
    display: block;
    background-image: url(../images/line.png);
    background-repeat: repeat-x;
    background-position: bottom left; 
    padding-bottom: 7px;
}
.menu li:last-child {
    background-image: none;
}
.menu {
    padding: 0;
    padding-top: 9px;
}
.text-zag {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 30px;  
    margin-top: 10px;  
}
ul.li {padding: 18px;}
ul.li li {padding-bottom: 8px;}
.podzag {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.8px;
    white-space: nowrap;    
}
.table th {
    background: #ebebeb;  
    width: 25%;  
    text-align: left;
    padding: 17px;
    padding-left: 26px;
    border: 1px solid #fff;
}
.table td {
    background: #f3f3f3;  
    width: 25%;  
    text-align: left;
    padding: 17px;
    padding-left: 26px;
    border: 1px solid #fff;
}
.table .text {
    line-height: 16px;   
}
.form input {
    width: 381px;
    height: 55px;
    box-shadow: inset 1px 1px 3px #b7b7b7;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding-left: 20px; 
    margin-bottom: 20px;   
}
.form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 826px; 
    margin-top: 48px;       
}
.place_holder {
    z-index: 100;    
    left: 10px;
    cursor: text;   
    position: absolute;
    top: 26%;
    left: 20px;
    width: 100%;    
    display: none;
    color: #000;
}
.placeinput input:invalid + .place_holder {
   display: inline;
}
.placeinput {
    position: relative;
    overflow: hidden;
}
.place_holder span {
    color: #f57668;
}
.button {
    width: 205px;
    height: 55px;
    border-radius: 5px;
    background-color: #f57365;   
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px; 
}
.button:hover {
    opacity: 0.9;
    cursor: pointer;    
}
.news-all {
    justify-content: space-between;    
}
.news-into-time {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.7px;
    margin-top: 10px;
}
.news-into-zag {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    letter-spacing: 0.8px; 
    cursor: pointer;   
    margin-top: 12px;
    margin-bottom: 16px;
}
.news-into-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 20px;
}
.news-into-more {
    margin-top: 10px;    
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.8px; 
    cursor: pointer;  
}
.news-into-more span {
    text-decoration: underline;
}
.table {
    margin-bottom: 82px;   
}
.news {
    margin-top: 86px;    
}
.spisok-left {
    width: 23%;
    padding-right: 23px;  
}
.spisok-right {
    width: 75%;
}
.vse {
    width: 229px;
    height: 51px;
    border-radius: 5px;
    border: 2px solid #000000;  
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 49px; 
    margin-bottom: 38px;    
}
.vse:hover {
    cursor: pointer;
    opacity: 0.9
}
.popular {
    max-width: 1600px;
    margin: auto; 
    margin-top: 24px;       
}
.popular-all {
   flex-flow: wrap;
   justify-content: center;    
}
.popular-div {
   box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.31);   
   position: relative;
   width: 320px;
   height: 225px;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;  
}
.popular-img {  
   position: absolute;
   z-index: -1;
}
.page {
    display: flex;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 37px;   
}
.page a {
    color: #f57365;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin: 9px;
    margin-top: 0;
}
.page-adop {
    text-decoration: none;
}
.page a.active {
    width: 25px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 12px;
    text-decoration: none;
    color: #a5a5a5;
    position: relative;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background: #f7f7f7; 
    padding-top: 43px;  
}
footer .sMenu a {
    color: #010101;    
}
footer .sMenu a:hover {
    text-decoration: underline;   
}
.info {
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #f57365;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.9px;
}
footer .phone {
    text-align: right;
}
.copy {
    opacity: 0.5;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 300;   
}
.design {
    color: #8b8b8b;
    font-weight: 300;
    letter-spacing: 2.8px; 
}
.design span {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400; 
}
.bottoms {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    padding-bottom: 24px;
}
.logo {
    position: relative;
    right: 17px;
    bottom: 21px;  
    display: block;
    margin-bottom: -18px;         
}
.popular-prev {
    opacity: 0.9;
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.8px;    
} 
.popular-zag {
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.22px;   
}
.header .sMenu li a:hover {
    text-decoration: underline;
}